<div class="banner">
  <div class="wrapper">
    <h1>Pixel Perfect<br> Design Resources</h1>
  </div>
</div>

<div class="nav">
  <div class="wrapper">
    <a href="#">Popular</a>
    <a href="#">Recent</a>
    <label for="search">Search</label>
    <input type="search" id="search" placeholder="Iphone 6+ template">
  </div>
</div>

<ul class="resources">
  <li>
    <%= image_tag("01.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("02.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>


  <li>
    <%= image_tag("03.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("04.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("05.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("06.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("07.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("08.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("09.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("10.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("11.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>

  <li>
    <%= image_tag("12.png")%>
    <div class="resource_info">
      <h2>Example Resource</h2>
      <a href="#" class="button">View Resource</p>
      <p class="price">$</p>
    </div>
  </li>
</ul>
